# Also works for Swift
language: objective-c

# Xcode version
osx_image: xcode14.2

# Specify the opening file for the project
xcode_workspace: TouchDraw.xcworkspace

# Specify the main build
xcode_scheme: TouchDraw

# Specify the last iOS sdk
xcode_sdk: iphonesimulator

install:
  - ./install_swiftlint.sh

script:
  - swiftlint
  - set -o pipefail && xcodebuild -workspace $TRAVIS_XCODE_WORKSPACE -scheme $TRAVIS_XCODE_SCHEME -sdk $TRAVIS_XCODE_SDK -destination 'OS=16.2,name=iPhone 14' build test | xcpretty
